{{ $s := newScratch }}
{{ $s.Set "data" dict }}
{{ $params := site.Params.tnd_data_gen }}
{{ with $data := .data }}
  {{ with .id }}
    {{ $s.SetInMap "data" "id" (print . $.type $.iteration | md5)}}
  {{ end }}
  {{ $title := .title }}
  {{ if gt $.iteration 1 }}
    {{ $title = printf "%s %v" $title $.iteration }}
  {{ end }}
  {{ $s.SetInMap "data" "title" $title }}
  {{ with .price }}
    {{ $s.SetInMap "data" "price" . }}
  {{ end }}
  {{ with .date }}
    {{ $s.SetInMap "data" "date" . }}
  {{ end }}

  {{ $content_blocks := slice }}

  {{ with .content_1 }}
    {{ $content_blocks = $content_blocks | append . }}
  {{ end }}

  {{ with partial "random/content/blocks" $.config.content }}
    {{ $content_blocks = $content_blocks | append . }}
  {{ end }}

  {{ with $content_blocks }}
    {{ $s.Set "content" (delimit $content_blocks "\n\n") }}
  {{ end }}

  {{ with .tags }}
    {{ $s.SetInMap "data" "tags" . }}
  {{ end }}
  {{ with .categories }}
    {{ $s.SetInMap "data" "categories" . }}
  {{ end }}
  {{ with .description }}
    {{ $s.SetInMap "data" "description" . }}
  {{ end }}

  {{ if eq .type "post" }}
    {{ $profiles := site.Data.profiles }}
    {{ with where $params.collections "name" "profiles" }}
      {{ with (index . 0).limit }}
        {{ $profiles = first . $profiles }}
      {{ end }}
    {{ end }}
    {{ with index ($profiles | shuffle) 0 }}
      {{ with urlize .title }}
        {{ $s.SetInMap "data" "authors" (slice (printf "/profiles/%s.md" .)) }}
      {{ end }}
    {{ end }}
  {{ end }}


  {{ with .twitter }}
    {{ $s.SetInMap "data" "twitter_handle" . }}
  {{ end }}

  {{ with $url := .image }}
    {{ if and $.download (eq $data.type "profile") }}
      {{ with resources.GetRemote . }}
        {{ .Publish }}
        {{ $s.SetInMap "data" "image" (printf "/images/avatars/%s" .RelPermalink) }}
      {{ end }}
    {{ else }}
      {{ with split . "?" }}
        {{ with index . 0 }}
          {{ $s.SetInMap "data" "image" . }}
        {{ end }}
      {{ end }}
    {{ end }}
  {{ end }}

  {{ with .image_data }}
    {{ $s.SetInMap "data" "image" (printf "https://placeimg.com/%v/%v/any" .width .height) }}
  {{ end }}

  {{ with .location }}
    {{ $s.SetInMap "data" "location" . }}
  {{ end }}

  {{ with .sizes }}
    {{ $s.SetInMap "data" "sizes" . }}
  {{ end }}

  {{/* This if for current work on front matter blocks */}}
  {{ with $.config.blocks }}
    {{ $s.SetInMap "data" "blocks" (partial "random/front-matter/blocks" .) }}
  {{ end }}

{{ end }}



{{ return (dict
  "front_matter" ($s.Get "data")
  "content" ($s.Get "content")
  )
}}